---
import Card from "../components/Card.astro";
import Tabs from "../components/Tabs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alok Kumar | Product Designer" >
	<div>
		<main>
			<Card />
			<Tabs />
		</main>
	</div>
</Layout>

<style>
	:root {
		/*--astro-gradient: linear-gradient(45deg, #4f39fa, #da62c4);*/
		--astro-gradient: linear-gradient(45deg, #a14df3, #e1b5f8);
	}
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
</style>
