---
import Card from "../components/Card.astro";
import Tabs from "../components/Tabs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alok Kumar | Product Designer" >
	<main>
		<Card />
		<Tabs />
	</main>
</Layout>

<style>
	:root {
		/*--astro-gradient: linear-gradient(45deg, #4f39fa, #da62c4);*/
		--astro-gradient: linear-gradient(45deg, #a14df3, #e1b5f8);
	}
	main {
		width:100vw;
		height: 100vh;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
</style>
